.inputItem {
  margin-top: 23px;
  display: flex;
  align-items: center;
  margin-left: -74px;

}

.inputIcon {
  color: white;
  margin-left: -50px;
}

.inputItem input {
  width: 631px;
  height: 52px;
  background-color: #5a5c66;
  color: white;
  margin-left: 78px;
}